*{
    padding: 0px;
    margin: 0px;
}


#web-navbar-left{
    width: 90px;
    height: 100%;
    position: fixed;
 }

.web-pic-box{
    margin-left: 90px;
    width: 260px;
    height: 100%;
    position: fixed;
    background-color: #eee;
    background-image: url("../images/1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.pic-box-font{
    bottom: 2em;
    margin-right: 3px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    margin: 0.5em 2em;
    font-weight: 400;
    position: fixed;
}

.web-content{
    width:927px;
    margin-left: 360px;
    display: block;
    float: left;
}
.web-content-title{
    font-size: 17.5px;
    margin: 0px;
    padding: 20px 0px 5px 0px;
}

.web-articles{

}

.post-hover{
    border-bottom: 1px dashed #cacaca;
}

.post-hover:hover{
    background: #fafafa none repeat scroll 0 0;
}

.web-article{
    -moz-text-align-last: left;
    text-align: justify;
    margin: 25px 0 0 0;
}

.post-title{
    margin: 10px 0 10px 0;
}

.meta-box{
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    border-left-color: #b02323;
    padding: 4px;
    margin: 5px 0 5px 0;
}

.m-post-date , .m-post-coments {
    color: #dd4814;
    margin-right: 15px;
}

.m-post-cat, .m-post-sorts{
    color: #dd4814;
    margin-right: 13px;
}

.post-expect p{
    margin: 5px 0;
    padding: 4px;
    line-height: 2em;
    text-indent: 0;
    font-size: 15px;
}

.copyright-link{
    color: #afafaf;
    font-size: 14px;
    line-height: 20px;
}

.web-footer , .web-footer-span{
    margin-left: 370px;
    margin-bottom: 10px;
}

/*.web-article{*/
    /*margin-top: 25px;*/
    /*margin-bottom: 0px;*/
/*}*/





/*.feature-cover-container .feature-cover-bg {*/
    /*background-color: #eee;*/
    /*background-image: url("../images/1.jpg");*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*height: 120%;*/
    /*width: 120%;*/
/*}*/
