{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 文章发表{% endblock %}

{% block script %}
    {{ super() }}

    <script src="{{ url_for('static', filename='edit/editormd.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='edit/code-block-dialog.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='edit/lib/flowchart.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='edit/lib/jquery.flowchart.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='edit/lib/prettify.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='edit/lib/raphael.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='edit/lib/sequence-diagram.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='edit/lib/underscore.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='edit/lib/marked.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready( function() {
        var editor = editormd("editormd", {
            path : "../static/edit/lib/" ,// Autoload modules mode, codemirror, marked... dependents libs path
            height : 640,
            theme : "dark",
            codeFold : true,
{#            syncScrolling : false,#}
{#            htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启#}
            emoji : true,
            taskList : true,
            tocm            : true,         // Using [TOCM]
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            imageUpload : true,

        });
        editor.setToolbarAutoFixed(false);  // toolbar 自动调位 禁用

        $('#abc').click(function () {
            var msg = $('.editormd-preview').html()
            $('#body_html').val(msg)
        })

    })



</script>
{% endblock %}

{% block navbar_picture %} {% endblock %}

{% block write_article %}
    {{ super() }}


{% if current_user.is_authenticated %}
      <div class="col-md-11" style="margin-bottom: 20px;margin-left: 100px;" id="wirte-article">
        <form action="/write-article" method="post" class="form-group">
            <div style="display: none">
                {{ form.csrf_token() }}
            </div>
            <div class="form-group">
                <label for="title">文章标题</label>
                  {{ form.title(id='title', class="form-control") }}
            </div>
            <div class="form-group" >
                <label for="editormd">文章内容</label>
                <div id="editormd">
                    {{ form.body(id='body') }}
                </div>
            </div>
             <div class="form-group">
                 {{ form.post_expect(id = 'post_expect', class='form-control', placeholder='文章摘要') }}
            </div>
             <div class="form-group" style="display: inline">
                {{ form.submit(id='abc', class='btn btn-default') }}
                 {{ form.category(id='catagory', class="btn btn-primary") }}
            </div>
            <div id="" style="display: none;">
                {{ form.body_html(id='body_html') }}
            </div>
        </form>
    </div>
{% endif %}
{#    <button id ='a' class="btn btn-default">点</button>#}

{% endblock %}
